@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat);
  background-image: url('/clean-gray-paper.webp');
  background-color: #fff;
  /* font-weight: 900;   esse estilo aqui aplica o font weight para todo o projeto */
}

html {
  scroll-behavior: smooth !important;
  --scroll-behavior: smooth !important;
  color: #fff;
  background-color: #fff;
  background-image: url('/clean-gray-paper.webp');
}

.shaking {
  animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #666; /* Color for the quote text */
  border-left: 4px solid #ccc; /* Left border for the quote */
}

@keyframes shake {
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  76%,
  96.4% {
    transform: translate3d(2px, 0, 0);
  }

  80%,
  86.5%,
  93% {
    transform: translate3d(-4px, 0, 0);
  }

  83.2%,
  89.8% {
    transform: translate3d(4px, 0, 0);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Número de linhas que você deseja exibir */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bg-paper {
  background-image: url('/clean-gray-paper.webp');
}
